
.owner-dashboard
{
    margin-top:1.3rem;
    padding:20px;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:18px;
}


.chart
{
    height:100px;
    width:100px;
    border:10px solid gray;
    border-radius:50%;
    margin: 0 auto;
    border-bottom-color:transparent;
}

.dashboard-card {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 15px;
}

.dashboard-card button {
    text-align:right;
}

.dashboard-card h2, .dashboard-card p
{
    text-align:center;
}

.dashboard-card  p
{
    font-size:1.6rem;
}

@media (min-width: 768px) 
{
    .owner-dashboard {
        grid-template-columns: repeat(2,1fr);
    }
    .dashboard-card{
        margin-bottom:1rem;
    }
}

@media (min-width: 1000px) {
    .owner-dashboard {
        grid-template-columns: repeat(3,1fr);
        gap: 25px;
    }
}

