.products-header
{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    padding:10px;
    gap:10px;
    
}

.filter-container {
    position: relative;
}

.filter-container i 
{
    position:absolute;
    top:10px;
    left:5px;
}

.filter-container select {
    width: 100%;
    padding: 10px 25px;
    outline: none;
    border-radius: 5px;
}

.product-card {
}

.products-table
{
    display:none;
}


/*/modal*/



@media (min-width: 768px) {
    .products-header {
        grid-template-columns: 1fr 2fr 1fr;
        padding: 10px 10px 0 10px;
    }

    .product-card {
        display: none;
    }

    .products-table {
        display: block;
        
    }

    .add-products-container {
        display:grid;
        grid-template-columns:repeat(2, 1fr);
        gap:15px;
    }
}




@media (min-width: 1000px) {
    .products-header {
        grid-template-columns: 1fr 2fr 0.7fr;
        padding: 10px 50px 0 10px;
    }
}