.sidenav {
    height: 90vh;
    width:200px;
    background-color: #008080;
    display:none;
}

 main
 {
     overflow-y:auto;
 }
input, select {
    border: 1px solid gray;
}

@media (min-width: 768px) {
    .sidenav {
        display:block;
    }

    .Layout {
        display: grid;
        grid-template-columns: 0.5fr 4.5fr;
    }
}
