

.sub-systems-header {
    background-color: #0f172a;
    height: fit-content;
    padding:10px;
    position:sticky;
    top:0;
    left:0;
    right:0;
    display:flex;
    justify-content:space-between;
    z-index:10;
}

.options-subsystem-container, .user-logo-header-container {
    display: flex;
    gap: 10px;
    align-items:center;
}

.options-subsystem-container p , .user-logo-header-container p {
    color:white;
    padding-top:5px;
    font-size:1.1rem;
    font-style:italic;
    font-weight:bold;
}

.options-subsystem-container i {
    color: white;
    font-size: 1.4rem;
}


.right-header {
    display: flex;
    text-align: right;
    align-items:center;
}


.right-header i 
{
    color:white;
    font-size:1.2rem;
    z-index:3;
    display:block;
}

.notification-container
{
    margin-right:20px;
    position:relative;
}

.number-of-messages {
    position: absolute;
    display:block;
    padding: 2px 4px;
    background-color: red;
    top: -10px;
    right: -14px;
    z-index: 4;
    border-radius: 50%;
    color: white;
    text-align: center;
}

.user-logo-header-container {
    display: none;
}
.user-logo-header {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
}

.user-image-container
{
    height:30px;
    width:30px;
    border-radius:50%;
    background-color:white;
    align-self:center;
    cursor:pointer;
    margin-right:8px;
}

.user-image-container:hover {
    opacity:0.5;
}



.user-name
{
    color:white;
}




@media (min-width: 768px) {

    .user-image-container {
        height: 35px;
        width: 35px;
    }

    .user-logo-header-container {
        display: flex;
    }

    .options-subsystem-container
    {
        display:none;
    }
}