.hero-heading
{
    font-size:2rem;
}

.sub-heading {
    font-size: 1.8rem;
    font-weight:bold;
    margin:5px 0;
}

.bottom-heading {
    font-size: 1.4rem;
    font-weight: 300;
}

.Hero-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
    padding:8px;
    gap:1rem;
}

.landing-image {
    width: 90%;
    height: 50%;
    background-color: #008080;
    color: white;
    border-radius: 10px;
    align-self: center;
}

.landing-image img 
{
    width:100%;
    height:100%;
    border-radius:15px;
}


.hero-features
{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    list-style:none;
    gap:10px;
    margin-top:1rem;
}

.hero-features li 
{
    background-color:#008080;
    padding:10px;
    border-radius:10px;
    color:white;
}


.features
{
    color:#008080;
    text-align:center !important;
    font-size:1.7rem;
    margin-top:0.5rem;
    font-weight:bolder;
}



.hero-right-side
{
   margin-bottom:2rem;
}

.hero-right-side > * {
    text-align: left;
}

.second-block {
    width: 100%;
    height: fit-content;
    background-color: white;
    border-radius: 10px;
    margin: 1rem auto;
    background-color: #0f172a;
}

.second-block h2
{
    color:white;
    text-align:center;
    padding:0.5rem 0;
}

.services-container 
{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:3rem;
    padding:1rem;
}

.service-block
{
    background-color:white;
    height:250px;
    border-radius:10px;
}

.login-form {
    border: 1px dotted black;
    width: fit-content;
    padding: 15px;
    margin: 2rem auto;
}

.login-form div
{
    margin-bottom:1rem;
}

.login-form h1
{
    text-align:center;
    margin-bottom:1rem;
}

.login-form input
{
    width:300px;
    padding:5px 10px;
    font-size:1rem;
    outline:none;
    border-radius:8px;
}

.login-button-container
{
    display:grid;
    place-content:center;
}

.Login-btn {
    width: 250px;
    font-size: 1.2rem;
    padding: 5px 0;
    border-radius: 8px;
    background-color: #008080;
    color:white;
    border:none;
    cursor:pointer;
}

/*create account modal code*/
.create-account
{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:10px;
}

.create-account input,select 
{
    width:280px;
    padding:8px 10px;
    outline:none;
    border:1px solid gray;
    border-radius:10px;
}




@media (min-width: 768px) {
    .Hero-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .hero-heading {
        font-size: 3rem;
    }

    .hero-features {
        grid-template-columns: repeat(2,1fr);
    }

    .login-form input {
        width: 450px;
    }

    .services-container {     
        grid-template-columns: repeat(2,1fr);
    }

    .create-account {
        grid-template-columns: repeat(2,1fr);
        gap: 15px;
    }

    .create-account input,select 
    {
        width:320px;
    }
}

@media (min-width: 1000px) 
{
    .services-container {
        grid-template-columns: repeat(4,1fr);
        gap: 1.5rem;
    }
}