

.modal-landing {
    position: fixed;
    inset: 0;
    background-color: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: white;
    z-index: 4;
    text-align: center;
    padding:0.5rem 2rem;
    border-radius:10px;
    position:relative;
    animation:Fadein 0.4s ease-in;
}

.modal-content  h1
{
    margin-bottom:1rem;
    text-align:center;
}

.close-modal-btn
{
    position:absolute;
    top:10px;
    right:15px;
    background-color:transparent;
    border:none;
    cursor:pointer;
    color:blue;
    font-size:1rem;
    font-weight:bold;
    transition:0.3s ease-in;
}

.close-modal-btn:hover
{
    color:orangered;
}

@keyframes Fadein
{
    from
    {
        transform:scale(0.5);
        opacity:0.5;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}